a.navbar-brand:hover,
.navbar-nav>li>a:hover {transition:color 300ms ease;transition:color 300ms ease-out}
a.navbar-brand:focus,
.navbar-nav>li>a:focus {transition:color 300ms ease;outline: 0;transition: color 300ms ease-out}
.carousel-control-next:hover{transition:opacity 300ms ease;}
.carousel-control-prev:hover{transition:opacity 300ms ease;}
.text-web{color: 2b3a47;}
.bg-web{background-color: #49311c; color: white;}
.border-web{border: solid 2px #49311c;}
.btn-web{background-color: #49311c;color: white;}
.btn-web:hover{animation: webdarker .5s;animation-fill-mode: forwards;}
.btn-outline-web{background-color: transparent; border: solid 1px #49311c;color: #49311c;}
.btn-outline-web:hover{animation: outlinedarker .5s;animation-fill-mode: forwards;}
.text-web{color: #49311c;}
.carousel-item.active, .carousel-item-next, .carousel-item-prev{display: block;}
.card{margin-bottom: 10%;}
.bond-paper{height: 887px; width: 1037px; padding: 40px;}
.hover-lighten:hover{opacity: 0.7; transition: 300ms ease;}
.thumbnail{margin-bottom: 10%;}
/*animations*/
@-webkit-keyframes webdarker
{
	from
	{
		background-color: ;
		color: white;
	}
	to
	{
		background-color: saddlebrown;
		color: white;
	}
}
@-webkit-keyframes outlinedarker
{
	from
	{
		background-color: ;
		color: ;
	}
	to
	{
		border: ;
		background-color: #49311c;
		color: white;
	}
}

@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,500,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900);
@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700);

/* This is for popins font for firefox */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/poppins/v1/2fCJtbhSlhNNa6S2xlh9GyEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
  unicode-range: U+02BC, U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200B-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* This is for popins font for firefox */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/poppins/v1/UGh2YG8gx86rRGiAZYIbVyEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* This is for popins font for firefox */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/poppins/v1/yQWaOD4iNU5NTY0apN-qj_k_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

a, p, h1, h2, h3, h4, h5, h6 {
  color: #2b2b2b;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}
