a.navbar-brand:hover,
.navbar-nav>li>a:hover {transition:color 300ms ease;transition:color 300ms ease-out}
a.navbar-brand:focus,
.navbar-nav>li>a:focus {transition:color 300ms ease;outline: 0;transition: color 300ms ease-out}
.carousel-control-next:hover{transition:opacity 300ms ease;}
.carousel-control-prev:hover{transition:opacity 300ms ease;}
.text-web{color: 2b3a47;}
.bg-web{background-color: #49311c; color: white;}
.border-web{border: solid 2px #49311c;}
.btn-web{background-color: #49311c;color: white;}
.btn-web:hover{animation: webdarker .5s;animation-fill-mode: forwards;}
.btn-outline-web{background-color: transparent; border: solid 1px #49311c;color: #49311c;}
.btn-outline-web:hover{animation: outlinedarker .5s;animation-fill-mode: forwards;}
.text-web{color: #49311c;}
.carousel-item.active, .carousel-item-next, .carousel-item-prev{display: block;}
.card{margin-bottom: 10%;}
.bond-paper{height: 887px; width: 1037px; padding: 40px;}
.hover-lighten:hover{opacity: 0.7; transition: 300ms ease;}
.bg-clean{background-color: white;}
.thumbnail{margin-bottom: 10%;}
/*animations*/
@-webkit-keyframes webdarker
{
	from
	{
		background-color: ;
		color: white;
	}
	to
	{
		background-color: saddlebrown;
		color: white;
	}
}
@-webkit-keyframes outlinedarker
{
	from
	{
		background-color: ;
		color: ;
	}
	to
	{
		border: ;
		background-color: #49311c;
		color: white;
	}
}
