.bg-wood{
	background-color: #f4f2f0;
}
.ul-inline {
    list-style-type: none;
    overflow: hidden;
}

.li-inline {
	display: inline-flex;
	margin-right: 5%;
}

.li-inline a{
    display: block;
    text-align: center;
    text-decoration: none;
	color: black;
	font-weight: bold;
}

.nav-link{
	font-weight: bold;
	color: black;
}

.nav-link:hover{
	font-weight: bold;
	transition: 300ms ease;
	background-color: saddlebrown;
	color: white;
}