.bg-wood{background-color: antiquewhite;
	
}

.translucent{
	background-color: white;
	opacity: 0.5;
}

.ul-inline {
    list-style-type: none;
    overflow: hidden;
}

.li-inline {
	display: inline-flex;
	margin-right: 2%;
}

.li-inline a{
    display: block;
    text-align: center;
    text-decoration: none;
	color: black;
}

.li-inline:hover{
	font-weight: bold;
	transition: 150ms ease;
}

.fa-heart:hover{
	color: crimson;
	transition: 150ms ease-in;
	transition: 150ms ease-out;
}