.lighten:hover{
	opacity: 0.7;
	transition: 300ms ease;
}

.collection{
	display: block;
	border: solid 1px grey;
	margin: 2%;
}

.object{
	margin: 2%;
}
.object-header{
	background: lightgray;	
	padding: 2%;
	border: solid 1px;
}
.object-content{
	padding: 2%;
	border: solid 1px;
}
.object-footer{
	background: lightgray;	
	padding: 2%;
	border: solid 1px;
}