@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,500,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900);
@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700);

/* This is for popins font for firefox */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/poppins/v1/2fCJtbhSlhNNa6S2xlh9GyEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
  unicode-range: U+02BC, U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200B-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* This is for popins font for firefox */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/poppins/v1/UGh2YG8gx86rRGiAZYIbVyEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* This is for popins font for firefox */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/poppins/v1/yQWaOD4iNU5NTY0apN-qj_k_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2b2b2b;
  font-family: 'Poppins', sans-serif;
  margin: 10px 0;
  font-weight: 300;
}

h1 {
  line-height: 48px;
  font-size: 36px;
}
h2 {
  line-height: 36px;
  font-size: 24px;
}
h3 {
  line-height: 30px;
  font-size: 21px;
}
h4 {
  line-height: 22px;
  font-size: 18px;
}
h5 {
  font-size: 18px;
  font-size: 16px;
}
h5 {
  font-size: 16px;
  font-size: 14px;
}
blockquote {
  border-left: 5px solid #ff6849 !important;
  border: 1px solid rgba(120, 130, 140, 0.13);
}
p {
  line-height: 1.6;
}
b {
  font-weight: 600;
}
a:hover {
  outline: 0;
  text-decoration: none;
}
a:active {
  outline: 0;
  text-decoration: none;
}
a:focus {
  outline: 0;
  text-decoration: none;
}

html,body
{
	overflow-x: hidden;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}
.logo
{
    background: linear-gradient(to right, #105170, lightsteelblue, #105170);
}
.btn-inverse
{
	color: white;
	background-color: dimgray;
}
.btn-inverse:hover
{
	animation: darker 0.5s;
	animation-fill-mode: forwards;
}
.size-20prcnt
{
	height: 20%;
	width: 20%;
}

/*.footer
{
	padding: 1em;
	background-color: #105170;
	color:white;
}
*/

.border-animate:hover
{
	animation: border .5s;
	animation-fill-mode: forwards;
}

/*ANIMATIONS*/
@-webkit-keyframes border
{
	from
	{
		border: ;
	}
	to
	{
		border: solid 2px #105170;
	}
}
@-webkit-keyframes darker
{
	form
	{
		background-color: ;
	}
	to
	{
		background-color: black;
		color:white;
	}
}